/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
h1,h2,h3,h4,h5,p, Button{
  font-family: 'Raleway', sans-serif;
}
/* Main */
.app {
  text-align: center;
  color:white;
}
.navigation-bar{
  font-family: 'Raleway', sans-serif;
  background: #4782ad
}
/* Searchbar */

.search{
  margin-right:30%;
  margin-left:34%;
  width:32% !important;
}
.center{
  width:100%;
}
.search-div{
  margin-top:1%;
}
/* Card styles */

.card-text{
  text-decoration: none;
  color:white;
  visibility: hidden;
}
.card:hover {
  filter:brightness(65%);
  border-style:solid;
  border-color:limegreen;
  border-width:3px;
}
.card:hover .card-text{
  visibility: visible;
}
.cardPlay{
  margin-top:33%;
  margin-bottom:30%;
  font-size:50px;
  color:limegreen;
}
.line{
  border-top: 3px solid white;
  margin-top:1%;
  margin-bottom:1%;
}

/* SearchContainer */

.SearchContainer{
  margin-top:1%;
}

/* Playlist form */

.form{
  width:100% !important;
  font-family:'Raleway';
}
.formCenter{
  margin-top:2%;
  margin-right: 30%;
  margin-left:30%;
}
.playlistTemplate{
  position: relative;
  left:20%;
  text-align: left;
  width:80%;
}

/* Playlist showcase items */
.remove{
  display:inline;
  visibility: hidden;
}
.fa-times{
  position: relative;
  font-size: 25px;
  left:50%;
  color:red;
}
.figure:hover .remove{
  visibility: visible;
}
.playlistDetails{
  margin-right:45%;
  margin-left:25%;
  width:50% !important;
}
.image{
  margin-top:1%;
  width:150px;
  height:150px;
}
.details{
  font-family: 'Raleway', sans-serif;
}
/* Player */
.player{
  background-color: white;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
