.app {
  text-align: center;
  color:white;
}
.search{
  margin-right:30%;
  margin-left:34%;
  width:500px !important;
}
.center{
  width:100%;
}
.search-div{
  margin-top:5%;
}
.card-text{
  text-decoration: none;
  color:white;
  visibility: hidden;
}
.card:hover {
  filter:brightness(65%);
  border-style:solid;
  border-color:limegreen;
  border-width:3px;
}
.card:hover .card-text{
  visibility: visible;
}
.fa-play{
  position:relative;
  top:60px;
  font-size:50px;
  color:limegreen;
  text-align: left;
}
